/*header*/

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: #F7F9F9;
  font-family: 'Fjalla One', sans-serif;
  font-size: 2em;
}

/*Add a new meal */

.jumbotron {
  background: url("/resources/images/jumbotron_bg.jpeg") ;
  background-size: cover;
  min-height: 500px;
  margin-bottom: 0;
}

.jumbotron h1 {
  margin-top: 200px;
  margin-bottom: 20px;
  color: #BC8034;
  text-shadow: -1px 0 #937B63, 0 1px #937B63, 1px 0 #937B63, 0 -1px #937B63;
}

#plus-button{
  margin-left: 10px;
}

/*calories selector*/

#selector {
  background-color: #124559;
  min-height: 60px;
  margin-bottom: 20px;
  padding: 10px;
}

.filterby-title {
  color: #D9CAB3;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5em;
  margin-right: 10px;
}

/*edit meals*/

.edit-meal {
  margin-bottom: 10px;
}

.edit-field {
float: right;
}

/*Display tracked meals*/

.well {
    background-color: #F7F9F9;
}

.well h3 {
  color: #124559;
}

.panel > .panel-heading {
  color: #F7F9F9;
  background-color: #124559;
}

.panel > .panel-body {
  color: #124559;
  background-color: #F7F9F9;
}

.panel > .panel-footer {
  color: #124559;
  background-color: #F7F9F9;
  border-color: #F7F9F9;
}

.panel-default {
  border-color: #D9CAB3;
}

.panel p {
  font-size: 1.2em;
}

.panel h3 {
  font-size: 1.5em;
}

body {
  background-color: #D9CAB3;
  font-family: 'Lato', sans-serif;
}
